body{
  background: #333;
  color: #fff;
}
.containerlbs{
  margin:0 auto;
  position: relative;
  left: 10%;
}
.containerkg{
  margin:0 auto;
  position: relative;
  left: 10%;
}
.containerg{
  margin:0 auto;
  position: relative;
  left: 10%;
}
.containeroz{
  margin:0 auto;
  position: relative;
  left: 10%;
}
